# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
blpapi=3.9.0=py36_0
certifi=2018.11.29=py36_0
numpy=1.16.2=pypi_0
pandas=0.24.1=pypi_0
pip=19.0.3=py36_0
python=3.6.8=h9f7ef89_7
python-dateutil=2.8.0=pypi_0
pytz=2018.9=pypi_0
quantlib-python=1.15=pypi_0
setuptools=40.8.0=py36_0
six=1.12.0=pypi_0
sqlite=3.26.0=he774522_0
tia=0.3.0=pypi_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.15.26706=h3a45250_0
wheel=0.33.1=py36_0
wincertstore=0.2=py36h7fe50ca_0
